<div class="wrapper">
  <div style="display: flex; flex-direction: column; flex: 1;">
    <div class="">
      <div style="color: white; font-weight:700; font-size: x-large">
        <h1 style="font-size: xx-large">BamojaApp</h1>
      </div>
      <div>
        <h2>
          Hildebrandstraße 7
        </h2>
        <p>
          <span>
            01219 Dresden
          </span><br>
          <span>
            Germany
          </span><br>
          <span style="font-weight:500;">
            Email: michael.onyebuchi.ohaya@gmail.com
          </span><br>
          <span style="font-weight:500;">
            Tel: +4917647096065
          </span>
        </p>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; margin-top: 30px; flex: 2;">
    <div style="flex: 1;">
        <h1 style="font-weight:500;">
          Our Market
        </h1>
          <h3>
            Lagos
          </h3>
          <h3>
            Abuja
          </h3>
          <h3>
            Port-Harcourt
          </h3>
          <h3>
            Rivers
          </h3>
    </div>
    <div style="flex: 1;">
        <h1 style="font-weight:500;">Competencies</h1>
          <h3>
            Constructions
          </h3>
          <h3>
            Services
          </h3>
          <h3>
            PPP and concessions
          </h3>
    </div>
    <div style="flex:1">
      <h1 style="font-weight:500;">Competencies</h1>
        <h3>
          Activities
        </h3>
        <h3>
          Careers
        </h3>
        <h3>
          News & Media
        </h3>
        <h3>
          Sustainabilities
        </h3>
        <h3>
          Investor Relation
        </h3>
        <h3>
          About Bamoja
        </h3>
    </div>
  </div>
</div>

