<div class="wrapper">
  <div>
    <div class="innerDivBig">
      <div style="color: white; font-weight:700; font-size: x-large">
        <h1 style="font-size: xx-large">BamojaApp</h1>
      </div>
      <div>
        <h2>
          Hildebrandstraße 7
        </h2>
        <p>
          <span>
            01219 Dresden
          </span><br>
          <span>
            Germany
          </span><br>
          <span style="font-weight:500;">
            Email: michael.onyebuchi.ohaya@gmail.com
          </span><br>
          <span style="font-weight:500;">
            Tel: +4917647096065
          </span>
        </p>
      </div>
    </div>
    <div class="innerDivSmall">

    </div>
  </div>
  <div>
    two
  </div>
  <div>
    there
  </div>
</div>

