<form class="example-form">
  <div class="imgStyle">
    <img src="https://media.istockphoto.com/photos/putting-in-the-dedication-to-build-her-dreams-picture-id1298550035?b=1&k=20&m=1298550035&s=170667a&w=0&h=xQmu1P5uZB3sNuqjM2CfVjLhrWhijYvy4C2v_W2wfSk=" alt="" style="width:100%; height:100%">
  </div>
  <div class="contentStyle">
    <div style="text-align:center; margin: 30px auto;">
      <div>
        <mat-label mat-stroked-button color="primary" style="font-size:24px; font-weight:500; height: 50px; width: 200px">Reset Password </mat-label>
      </div>
    </div>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input type="password" matInput >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Repeat Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
    </p>
    <div style="text-align:left; margin: 10px 0;">
      <a mat-flat-button routerLink="/login">Back to Login</a>
      <p style="text-align:center;">
        <button mat-flat-button color="primary" style="font-size:24px; margin: 10px auto; height: 50px; width: 100%">Change Password</button>
      </p>
    </div>
  </div>
</form>
