mat-toolbar{
    background-color: rgb(251, 131, 45);
    padding: 10px;
}
.example-form-field {
  border-color: white;
  width: 100%;
  }

.example-icon{
  size: 35px;
  font-size:30px;
  margin-right: 20px;
  background-color: white;
}

.example-spacer {
  flex: 1 1 auto;
  }
