<mat-toolbar style="width: 100%;">
    <div class="logoStyle"><!-- logoStyle-->
        <button
        mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon"
        routerLink="/accounts"
        >
          <mat-icon class="logoStyleIcon">person_add</mat-icon><!--logoStyleIcon-->
        </button>
        <div class="logo">BamojaApp </div><!--logo-->
    </div>

    <span class="example-spacer"></span>
    <div class="searchBarStyle"><!-- searchBarStyle-->
        <div class="example-form-field">
            <input matInput type="text" class="searchBarArea"><!--searchBarArea -->
            <button  matSuffix mat-icon-button aria-label="Clear" class="searchBarBtn"><!--searchBarBtn-->
              <mat-icon style=" font-size: 30px;">search</mat-icon><!--searchBarIcon-->
            </button>
        </div>
    </div>
    <span class="example-spacer"></span>
    <div class="navigaltionIconStyle">
        <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with heart icon"
        routerLink="/home"
        >
          <mat-icon style="color: rgb(251, 131, 45);">home</mat-icon>
        </button>
        <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with heart icon"
        routerLink="/about/page"
        >
          <mat-icon style="color: rgb(251, 131, 45);">person</mat-icon>
        </button>
        <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        routerLink="/login"
        >
          <mat-icon style="color: rgb(251, 131, 45);">login</mat-icon>
        </button>
    </div>

</mat-toolbar>
