.example-form {
  min-width: 150px;
  margin: 100px auto;
  display: flex;
  width: 90%;
  height: 100%;
}

.example-full-width {
  width: 100%;
}

.widthSize{
  width: 49%;
  margin-left: 1%;
}

td {
  padding-right: 8px;
}

.imgStyle{
  width:45%;
  margin: 0 auto
}

.contentStyle{
  width: 40%;
  margin: 0 auto
}

.contentStyle>div>div>button{
font-size:24px;
margin: 10px 10px;
height: 50px;
width: 45%
}

.createBtn{
font-size:24px;
margin: 10px auto;
height: 50px;
width: 90% ;
}

@media screen and (max-width: 960px) {
.example-form {
display:flex;
margin: 10px auto;
flex-direction: column;
}

  .example-full-width {
  width: 100%;
}

.widthSize{
  width: 100%;
}

  .imgStyle{
  width:90%;
  margin: 0 auto
}

.contentStyle{
  width: 90%;
  margin: 0 auto
}

.contentStyle> div> div>button{
font-size:16px;
margin: 10px 10px;
height: 40px;
width: 40%
}

.createBtn{
font-size:20px;
margin: 10px auto;
height: 50px;
width: 100% ;
}
}
