.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  mat-icon-button {
    height: 55px;
    width: 55px;
  }

  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-icon{
    margin-top: 10px;
    background-color: rgb(251, 131, 45);
  }
  .example-sidenav {
    padding: 20px;
  }

