<div>
  <div class="caurosel">
    <div style="position: relative;">
      <ng-image-slider
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: 420}"
      slideImage="1"
      #navigation
      ></ng-image-slider>
    </div>
  </div>
  <h1 style="font-size: 24px; font-weight: bold; margin-bottom:-20px; margin-left: 10px;">Popular Products</h1>
  <div class="featuredProducts">
    <div *ngFor="let object of imageObjects" >
      <div class="featuredProductsImage"
      (mouseenter)="hoverField.style.display = 'block';"
      (mouseleave)="hoverField.style.display = 'none';">
        <img  src={{object.image}} alt="Photo of a Shiba Inu" >
      </div>
      <div
      class="featuredProductsDescription"
      #hoverField
      (mouseenter)="hoverField.style.display = 'block';"
      (mouseleave)="hoverField.style.display = 'none';"
      >
        <mat-card style="padding:10px 5px;">
          <mat-card-content>
            <p>
              {{object.title}}
            </p>
          </mat-card-content>
          <mat-card-actions style="text-align:center">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
    <h1 style="font-size: 24px; font-weight: bold; margin-bottom:-20px; margin-left: 10px;">Featured Products</h1>
  <div class="otherProducts">
    <div >
    </div>
  </div>
</div>
