.caurosel{
  height: 430px;
  margin: 0px;
}

.featuredProducts{
  display: flex;
  flex-direction: row;
}

.featuredProducts> div{
  width:240px;
  padding: 10px;
   margin: 0px 5px;
}

.featuredProductsImage{
  width:fit-content;
  height: fit-content;
  position: relative;
  padding: 5px;
  margin: 0px auto;
}

.featuredProductsImage:hover{
  cursor: pointer;
}

.featuredProductsDescription{
  position: absolute;
  top: 700px;
  display: none;
  margin-left: 5px;
  width:240px;
  height: fit-content;
}

.featuredProductsImage > img{
  width:240px;
  height:400px;
  padding: 20px;
}
.otherProducts{
  height: 300px;
  margin: 0px;
}

@media screen and (max-width: 960px) {
  .featuredProducts> div{
  width:100%;
  padding: 10px;
   margin: 0px 0px;
}

.featuredProductsImage > img{
  width:100%;
  height:360px;
  padding: 20px;
}
.featuredProductsImage{
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 5px;
  margin: 0px auto;
}

.featuredProductsDescription{
  position: absolute;
  top: 700px;
  display: none;
  width: 78%;
}


.featuredProducts{
  display: flex;
  width: 100%;
  flex-direction: column;
}
}
